<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Pedido de Aprovisionamiento</title>
   <link rel="stylesheet" href="/css/pedido.css">
</head>
<body>
	<header>
		        <nav>
		            <div class="nav-container">
		                <ul class="nav-center">
		                    <li><a href="/">Inicio</a></li>
		                    <li><a href="/productos">Producto</a></li>
		                    <li ><a href="/stock">Stock</a></li>
		                    <li><a href="/stock/alta">Alta Stock</a></li>
		                    <li><a href="/store">Tienda</a></li>
		                </ul>
		            </div>
		        </nav>
		        <div class="user-info">
		            <span th:text="${username}"></span>
		            <a href="/logout">Logout</a>
		        </div>
		    </header>
    <main>
        <div class="stock-list ">
			<h2>Productos Bajo Stock</h2>
			            <ul class="ul">
			                <li class="ul_li"th:each="producto : ${productosBajoStock}"
			                    th:text="'ID: ' + ${producto.id} + ', Producto: ' + ${producto.producto.nombre} + ', Cantidad: ' + ${producto.cantidad} + ', Stock Mínimo: ' + ${producto.minimaStock}">
			                </li>
			            </ul>
            <h1>Generar Pedido de Aprovisionamiento</h1>
            <form action="/pedidoAprov/generar" method="post">
                <label for="productoId">Producto:</label>
                <select id="productoId" name="productoId" required>
                    <option value="" disabled selected>Seleccione un producto</option>
                    <option th:each="producto : ${productosBajoStock}"
                            th:value="${producto.producto.id}"
                            th:text="${producto.producto.nombre} + ' (ID: ' + ${producto.producto.id} + ')'">
                    </option>
                </select>
                
                <label for="proveedorId">Proveedor:</label>
                <select id="proveedorId" name="proveedorId" required>
                    <option value="" disabled selected>Seleccione un proveedor</option>
                    <option th:each="proveedor : ${proveedores}"
                            th:value="${proveedor.id}"
                            th:text="${proveedor.nombre}">
                    </option>
                </select>
                
                <label for="cantidad">Cantidad:</label>
                <input type="number" id="cantidad" name="cantidad" required>
                <button type="submit">Generar Pedido</button>
            </form>
            
            
        </div>
    </main>
    <footer>
        &copy; 2024 - Grupo 25 OO2
    </footer>
</body>
</html>